@model TrashCollector.Models.Customer

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.LastName)
        @Html.HiddenFor(model => model.StreetAddress)
        @Html.HiddenFor(model => model.City)
        @Html.HiddenFor(model => model.State)
        @Html.HiddenFor(model => model.ZipCode)
        @Html.HiddenFor(model => model.Phone)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.DefaultPickupDay)

        <div class="form-group">
            @Html.LabelFor(model => model.ExtraPickupDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExtraPickupDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExtraPickupDay, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.VacationStartDate)
        @Html.HiddenFor(model => model.VacationEndDate)
        @Html.HiddenFor(model => model.BillDate)
        @Html.HiddenFor(model => model.AccountBalance)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Account", "MyAccount")
</div>
