@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "MyAccount";
}

<h2>My Account</h2>

<div>
    <h4>Account Details</h4>
    <hr />
    <div class="row">
        <div class="customer-details">
            <div class="detail-heading">
                Name
            </div>
            <p class="detail-inner">
                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
            </p>
            <div class="detail-heading">
                Address
            </div>
            <p class="detail-inner">
                @Html.DisplayFor(model => model.StreetAddress)<br />
                @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.ZipCode)
            </p>
            <div class="detail-heading">
                @Html.DisplayNameFor(model => model.Phone)
            </div>
            <p class="detail-inner">
                @Html.DisplayFor(model => model.Phone)
            </p>
            <div class="detail-heading">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <p class="detail-inner">
                @Html.DisplayFor(model => model.Email)
            </p>
            <p class="edit-link">
                @Html.ActionLink("Edit Account Details", "EditAccountDetails", new { id = Model.Id })
            </p>
        </div>
        <div class="schedule-details">
            <div class="schedule-heading">
                @Html.DisplayNameFor(model => model.DefaultPickupDay)
            </div>
            <p class="detail-inner">
                @Html.DisplayFor(model => model.DefaultPickupDay)
            </p>
            <p class="edit-link">
                @Html.ActionLink("Edit Default Dates", "EditDefaultDate", new { id = Model.Id })
            </p>
            <div class="schedule-heading">
                @Html.DisplayNameFor(model => model.ExtraPickupDay)
            </div>
            <p class="detail-inner">
                @Html.DisplayFor(model => model.ExtraPickupDay)
            </p>
            <p class="edit-link">
                @Html.ActionLink("Schedule Additional Pickup", "EditExtraDate", new { id = Model.Id })
            </p>
            <div class="schedule-heading">
                @Html.DisplayNameFor(model => model.VacationStartDate)
            </div>
            <p class="detail-inner">
                @Html.DisplayFor(model => model.VacationStartDate)
            </p>
            <div class="schedule-heading">
                @Html.DisplayNameFor(model => model.VacationEndDate)
            </div>
            <p class="detail-inner">
                @Html.DisplayFor(model => model.VacationEndDate)
            </p>
            <p class="edit-link">
                @Html.ActionLink("Schedule Vacation Dates", "EditVacationDate", new { id = Model.Id })
            </p>
        </div>
        <div class="billing-details">
            <div class="billing-heading">
                @Html.DisplayNameFor(model => model.BillDate)
            </div>
            <p class="detail-inner">
                @Html.DisplayFor(model => model.BillDate)
            </p>
            <p class="edit-link">
                @Html.ActionLink("Edit Default Dates", "EditBillDate", new { id = Model.Id })
            </p>
            <div id= "billing-balance">
                <p class="billing-heading">
                    @Html.DisplayNameFor(model => model.AccountBalance)
                </p>
                <p class="detail-inner">
                    @Html.DisplayFor(model => model.AccountBalance)
                </p>
                <br />
                <p>
                    @Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal", null, new { @class = "paypal-btn" })
                </p>
            </div>
        </div>
    </div>
</div>


