@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "DisplayStops";
}

<h2>Today's Pickups</h2>
@if (Model != null && Model.Any())
{
    <div class="col-md-4">
        <div id="stops-section">
            <h3>Stops for the Day</h3>
            <div id="stops">
                <div class="col-md-8">@Html.DisplayNameFor(model => model.StreetAddress), @Html.DisplayNameFor(model => model.ZipCode)</div>
                <div class="col-md-4"></div>
                @foreach (var item in Model)
                {
                    <div class="col-md-8">@Html.DisplayFor(modelItem => item.StreetAddress), @Html.DisplayFor(modelItem => item.ZipCode)</div>
                    <div class="col-md-4">@Html.ActionLink("Apply Pickup", "ApplyPickup", new { customerId = item.Id })</div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <h3>Map View</h3>
        <div id="map"></div>
    </div>
    
    <div class="col-md-3">
        <h3>Route</h3>
        <div id="directions-panel"></div>
    </div>
}
else
{
    Html.DisplayText("No results found");
}

<div class="row"></div>

<script>
        var geocoder;
        var map;
        var directionsDisplay;
        var directionsService;
        var stepDisplay;
        var pickups = @Html.Raw(Json.Encode(Model));
        var waypts = [];
        function initMap() {
            geocoder = new google.maps.Geocoder();
            directionsService = new google.maps.DirectionsService;
            directionsDisplay = new google.maps.DirectionsRenderer;
            var latlng = new google.maps.LatLng(42.8511994, -87.9548895);
            var mapOptions = {
                center: latlng,
                zoom: 13,
            };
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            directionsDisplay.setMap(map);
            codeAddress();
            calculateAndDisplayRoute();
        }

        function codeAddress() {
            for(var i = 0; i < pickups.length; i++){
                var address = pickups[i].StreetAddress + " " + pickups[i].City + " " + pickups[i].State + " " + pickups[i].ZipCode;
                waypts.push({
                    location: address,
                    stopover: true
                });
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == 'OK') {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location,
                            animation: google.maps.Animation.DROP
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
        }

        function calculateAndDisplayRoute() {
            console.log(waypts);
            directionsService.route({
                origin: "10627 S 27th St, Franklin, WI 53132",
                destination: "10627 S 27th St, Franklin, WI 53132",
                waypoints: waypts,
                optimizeWaypoints: true,
                travelMode: 'DRIVING'
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    var route = response.routes[0];
                    var summaryPanel = document.getElementById('directions-panel');
                    summaryPanel.innerHTML = '';
                    for (var i = 0; i < route.legs.length; i++) {
                        var routeSegment = i + 1;
                        summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                            '</b><br>';
                        summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
                        summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
                        summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
                    }
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGncMmH0tFWOv1t5dR1skn6yPocwS57eg&callback=initMap"></script>