@model IEnumerable<TrashCollector.Models.InvoiceDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LineItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LineItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinePrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LineId })
        </td>
    </tr>
}

</table>
